.App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  
}


.bigbox {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: auto;
  
}


.box {
  margin: auto;
  width: 450px;
  background-color: #ffffff;
  padding: 40px 50px;
  border-radius: 10px;
  
}

.social-media {
  display: flex;
}

.social-media > a {
  background: #2fa1e2;
  padding: .3rem .5rem;
  cursor: pointer;
  border-radius: 3px;
}

.social-media > a:hover {
  opacity: .9;
}

.social-media > a img {
  width: 1.5rem;
}

.button {
  height: 38px;
  border: none;
  border-radius: 3px;
  color: #fff;
  background-color: #333;
  outline: none;
  font-size: 0.85em;
  padding: 8px 18px 6px 18px;
  margin-top: 30px;
  opacity: 1;
  cursor: pointer;
}

.finalb {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}